<%- include('../partials/headerPartial.ejs') %> 

<p>THIS IS THE GROCERY LIST PAGE</p>


<ul>
    <% allMealsReferenceForEJS.forEach(function(eachMeal) { %>
      <li>

       <% eachMeal.groceries.forEach(function(item) { %>
        <p>
            <form action="/meals/<%= eachMeal._id %>/items/<%= item._id %>?_method=PUT"
                class="delete-form" method="POST">
                <button type="submit">X</button>
              </form>
            <%= item.content %>
        </p>
           
       <% }) %>
          - 
        <%= eachMeal.done ? 'done' : 'not done' %>
      </li>
    <% }); %>
  </ul>


<%- include('../partials/footerPartial.ejs') %>

