<%- include('../partials/headerPartial.ejs') %> 

<ul>
    <% allMealsReferenceForEJS.forEach(function(eachMeal) { %>
      <li>
       <% eachMeal.groceries.forEach(function(item) { %>
            <form action="/meals/<%= eachMeal._id %>/items/<%= item._id %>?_method=PUT"
                class="delete-form" method="POST">
                <button type="submit">X</button>
            </form>
            <section class="item">
             <%= item.content %> <br>
            </section>
       <% }) %>
      </li> 
    <% }); %> 
  </ul>

<%- include('../partials/footerPartial.ejs') %>

