<%- include('./partials/headerPartial.ejs') %> 
<br><br>
<table>
    <thead>
        <tr>
            <th>Meal Type</th>
            <th>Details</th>
            <!-- <th>DELETE</th> -->
        </tr> 
    </thead>
    <tbody>
        <% allMealsReferenceForEJS.forEach(function(eachMeal) { %>
        <tr>
            <td class="type">
                <%= eachMeal.mealType %>
            </td>
            <% eachMeal.groceries.forEach(function(item) { %>
            <td class="content">
                <%= item.content %>
            </td>
            <% }) %>
            <!-- <td>
                <form action="/meals/<%= eachMeal._id %>?_method=DELETE"
                    class="delete-form" method="DELETE">
                    <button type="submit">X</button>
                </form>
            </td> -->
        </tr> 
        <% }) %>
    </tbody>
</table>

<%- include('./partials/footerPartial.ejs') %>
